<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  
<head th:replace="~{_template :: head('alimentos diários')}"></head>
  <body>
    <nav th:replace="~{_template :: #navbar}"></nav>

    <main class="container">
      <div
        class="card-panel purple lighten-2"
        th:if="${success}"
        th:text="${success}"
      ></div>
      <div
        class="card-panel red white-text"
        th:if="${error}"
        th:text="${error}"
      ></div>
      <h2>Lista de calorias diárias</h2>

      <div class="row">
        <div class="col s12 m6 l4" th:each="counting : ${countingCal}">
          <div class="card pink darken-1">
            <div class="card-content white-text">
              <span class="card-title" th:text="${counting.nome}"></span>
              <p th:text="${counting.descricao}"></p>
              qtd:
              <p th:text="${counting.qtd}"></p>
              <span
                data-badge-caption="calorias"
                class="badge pink white-text"
                th:text="${counting.calorias}"
              ></span>
            </div>
            <div class="card-action">
              <a th:href="${'/countingCal/delete/' + counting.id}" class="btn red">
                <i class="material-icons">delete</i>
              </a>

              <a th:if="${counting.calorias != 0}" th:href="${'/countingCal/dec/' + counting.id}" class="btn purple">
                <i class="material-icons">remove</i>
            </a>

            <a th:if="${counting.calorias != 1000}" th:href="${'/countingCal/inc/' + counting.id}" class="btn purple">
                <i class="material-icons">add</i>
            </a>

            </div>
          </div>
        </div>
      </div>
    </main>

    <div class="fixed-action-btn">
      <a href="/countingCal/new" class="btn-floating btn-large purple">
        <i class="large material-icons">add</i>
      </a>
    </div>
  </body>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.dropdown-trigger');
      const options = {
            constrainWidth: false,
            coverTrigger: false
        }
      var instances = M.Dropdown.init(elems, options);
    });
  </script>
</html>
